
<div class="d-flex justify-content-between m-5">
<%= link_to "Back to Lists", lists_path, class: "btn btn-warning" %>
</div>


<div class="card-container ">
    <h1><%= @list.name %></h1>
    <% @list.bookmarks.each do |bookmark| %>
    <%= bookmark.movie.title %>

    <%= link_to "Delete", bookmark_path(bookmark), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
    <% end %>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie, as: :radio_buttons %>
        <%= f.submit "Submit", class: "btn btn-warning"%>
      <% end %>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <p>No photo</p>
    <% end %>
</div>
<div class="footer">
  <div class="footer-links">
  </div>
  <div class="footer-copyright">
    Movies.com 
  </div>
</div>
